.app-sidebar .slide__category {
    color: rgb(255 255 255 / 40%);
}

.app-sidebar .side-menu__item,
.app-sidebar .side-menu__label {
    color: rgb(255 255 255 / 70%);
}

.app-sidebar {
    background: rgba(25, 32, 57, 100%);
}

.app-sidebar .main-sidebar-header {
    background: rgba(25, 32, 57, 100%);
    border-block-end: 1px solid rgba(255, 255, 255, 10%);
}

@media (max-width: 992px) {
    span.toggle-logo {
        color: #031b4e
    }
}

a.header-logo.fs-20.fw-bold {
    color: rgb(255 255 255 / 100%);
}

.app-sidebar .side-menu__item.active .side-menu__angle,
.app-sidebar .side-menu__item.active .side-menu__label,
.app-sidebar .side-menu__item:hover .side-menu__angle,
.app-sidebar .side-menu__item:hover .side-menu__label,
.app-sidebar .slide.has-sub.open .side-menu__label,
.app-sidebar .slide-menu.child1 .side-menu__item.active,
.app-sidebar .slide-menu.child2 .side-menu__item.active,
.app-sidebar .slide-menu.child3 .side-menu__item.active,
.app-sidebar .slide-menu.child1 .side-menu__item:hover,
.app-sidebar .slide-menu.child2 .side-menu__item:hover,
.app-sidebar .slide-menu.child3 .side-menu__item:hover,
.app-sidebar .slide-menu.child1 .side-menu__item.active:hover,
.app-sidebar .slide-menu.child2 .side-menu__item.active:hover,
.app-sidebar .slide-menu.child3 .side-menu__item.active:hover,
.app-sidebar .slide-menu.child1 .side-menu__item.active:before,
.app-sidebar .slide-menu.child2 .side-menu__item.active:before,
.app-sidebar .slide-menu.child3 .side-menu__item.active:before,
.app-sidebar .slide-menu.child1 .side-menu__item:hover:before,
.app-sidebar .slide-menu.child2 .side-menu__item:hover:before,
.app-sidebar .slide-menu.child3 .side-menu__item:hover:before,
.app-sidebar .side-menu__item.active,
.app-sidebar .side-menu__item:hover {
    color: rgb(255 255 255 / 100%);
}

.app-sidebar .side-menu__item.active::before {
    background: rgb(255 255 255 / 100%);
}

.app-sidebar .side-menu__item.active .side-menu__icon,
.app-sidebar .side-menu__item:hover .side-menu__icon,
.app-sidebar .slide.has-sub.open .side-menu__icon,
.slide.has-sub.open>.side-menu__item .side-menu__angle {
    fill: rgb(255 255 255 / 100%);
    color: rgb(255 255 255 / 100%);
}
